<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table id="box" style="width: 580px;height:350px;
                margin: auto;
                border-collapse:collapse; border-spacing:0px 10px;
                border:1px solid #cccccc;border-radius:5px;
            ">
        <thead>
            <tr>
                <th colspan="2" height="100">
                    <img style="width: 100px;height: 50px;" src="../../assets/f2c54dee46c853237c6ac91840de782.png"
                        alt="">
                </th>
            </tr>
        </thead>
        <tobody>
            <tr class="column" style="">
                <td style="text-align:center;vertical-align:top;">【投资银行】</td>
                <td style="padding:0 20px 0 0;width: 430px;text-align:left;vertical-align:top;">你有一个投资项目，由中间人A把投行B推荐给你
                </td>
            </tr>
            <tr class="column" style="">

                <td style="text-align:center;vertical-align:top;">【投资项目】</td>
                <td style="padding:0 20px 0 0;text-align:left;vertical-align:top;">
                    你有一地方个大改动个投资项目，有中间人A把投行B推荐给你，同意吗</td>
            </tr>
            <tr class="column" style="margin-bottom: 15px;">
                <td style="width: 120px;text-align:center;vertical-align:top;">【中间人】</td>
                <td style="padding:0 20px 0 0;width: 430px;text-align:left;vertical-align:top;">
                    你有一个投资项目，有中fdsfdfsdfsdfsdfsd间人A把投行B推荐给你，同意吗</td>
            </tr>
            <tr class="column" style="margin-bottom: 15px;">
                <td style="width: 120px;text-align:center;vertical-align:top;">【投行B】</td>
                <td style="padding:0 20px 0 0;width: 400px;text-align:left;vertical-align:top;">
                    你有一个投资项目，有中间人A把投行B推荐给你，同意吗
                </td>
            </tr>
        </tr>
        <tr class="column" style="margin-bottom: 15px;color: lightcoral">
            <td style="width: 120px;text-align:center;vertical-align:top;">提示：</td>
            <td style="padding:0 20px 0 0;width: 400px;text-align:left;vertical-align:top;">
              投资者注册账号后，并提交资料认证。待银行认证后，方可查阅详细资料。如果您已有账号，可以直接登录进行操作。
            </td>
        </tr>
            <tr class="column" style="">
                <td colspan="2" style="text-align:center;vertical-align:center;">
                    <a href="#" class="button" style="text-decoration:none;">
                        <span
                            style="display:inline-block;text-decoration:none;width:200px;height:40px;background: #00B1F5;color:white;line-height:40px;">
                            了解详情
                        </span>
                    </a>
                </td>


            </tr>
        </tobody>

    </table>
</body>

</html>