<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table id="box" style="width: 580px;height:450px;
     margin: auto;
    border-collapse:collapse; border-spacing:0px 10px;
    border:1px solid #cccccc;border-radius:5px;
  ">
  <thead>
  <tr>
    <th colspan="2" height="100">
      <img style="width: 100px;height: 50px;" src="${this.email_pic}"
           alt="">
    </th>
  </tr>
  </thead>
  <tobody>
    <tr class="column" style="color: lightcoral">
      <td style="text-align:center;vertical-align:top;">提示：</td>
      <td style="padding-right:20px;width: 430px;text-align:left;vertical-align:top;">
        您已收到新用户的个人信息提交，请尽快审核。
      </td>
    </tr>
    <tr class="column" style="">
      <td style="text-align:center;vertical-align:top;">【注册时间】</td>
      <td style="padding-right:20px;width: 430px;text-align:left;vertical-align:top;">
        ${signuptime}
      </td>
    </tr>
    <tr class="column" style="margin-bottom: 15px;">
      <td style="width: 120px;text-align:center;vertical-align:top;">【类型】</td>
      <td style="padding-right:20px;width: 430px;text-align:left;vertical-align:top;">
        ${userIdentityType}</td>
    </tr>
    <tr class="column" style="margin-bottom: 15px;">
      <td style="width: 200px;text-align:center;vertical-align:top;">【个人/公司名字】</td>
      <td style="padding-right:20px;width: 430px;text-align:left;vertical-align:top;">
        ${userIdentityType_name}</td>
    </tr>
    <tr class="column" style="margin-bottom: 15px;">
      <td style="width: 120px;text-align:center;vertical-align:top;">【注册邮箱】</td>
      <td style="padding-right:20px;width: 430px;text-align:left;vertical-align:top;">
        ${this.bslEmail}
      </td>
    </tr>
    <tr class="column" style="">
      <td colspan="2" style="text-align:center;vertical-align:center;">
        <a href="${this.$baseurl2}/#/login" class="button" style="text-decoration:none;">
                        <span
                          style="display:inline-block;border-radius:5px;text-decoration:none;width:250px;height:40px;background: #00B1F5;color:white;line-height:40px;">
                            登录后管理系统台查看
                        </span>
        </a>
      </td>
    </tr>
  </tobody>

</table>
</body>

</html>
