<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script>
          let details_lists = [{
        keyword: "projectIndustry",
        name: "行业:",
        response: ""
      },
      {
        keyword: "projectArea",
        name: "地区:",
        response: ""
      },
      // {
      //   keyword: "signStatus",
      //   name: "项目状态",
      //   response: ""
      // },
      {
          keyword: "signStatus",
          name: "项目状态:",
          response: "暂无"
        },
      {
        keyword: "projectCompany",
        name: "公司名称:",
        response: ""
      },
      {
        keyword: "publicCompany",
        name: "是否是上市公司",
        response: ""
      },
      {
        keyword: "collectMoney",
        name: "集资额:",
        response: ""
      },
      {
        keyword: "projectMobile",
        name: "联络电话:",
        response: ""
      },
      {
        keyword: "projectEmail",
        name: "电邮",
        response: ""
      },

      {
        keyword: "projectDescribe",
        name: "项目介绍",
        response: ""
      }
    ];

    function a(details_lists){
        console.log(details_lists);
        
    }
    a(details_lists);
        // var page = require('webpage').create();
        // var system = require('system');
        // ////读取命令行参数，也就是js文件路径。
        // if (system.args.length === 1) {
        //     console.log('Usage: loadspeed.js <some URL>');
        //     //这行代码很重要。凡是结束必须调用。否则phantomjs不会停止
        //     phantom.exit();
        // }
        // page.settings.loadImages = true;  //加载图片
        // page.settings.resourceTimeout = 30000;//超过10秒放弃加载
        // //截图设置，
        // //page.viewportSize = {
        // //  width: 1000,
        // //  height: 3000
        // //};
        // var address = system.args[1];
        // page.open(address, function (status) {
        //     function checkReadyState() {//等待加载完成将页面生成pdf
        //         setTimeout(function () {
        //             var readyState = page.evaluate(function () {
        //                 return document.readyState;
        //             });
        //             if ("complete" === readyState) {
        //                 page.paperSize = { width: '297mm', height: '500mm', orientation: 'portrait', border: '1cm' };
        //                 var timestamp = Date.parse(new Date());
        //                 var pdfname = 'HT_' + timestamp + Math.floor(Math.random() * 1000000);
        //                 var outpathstr = "E:/POMFiles/HTPDF/" + pdfname + ".pdf";
        //                 page.render(outpathstr);
        //                 //page.render("c://test.png");
        //                 //console.log就是传输回去的内容。
        //                 console.log("生成成功");
        //                 console.log("$" + outpathstr + "$");
        //                 phantom.exit();

        //             } else {
        //                 checkReadyState();
        //             }
        //         }, 1000);
        //     }
        //     checkReadyState();
        // });

    </script>
</body>

</html>